@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  background: #f1f1f1;
  color: #0f141e;
}

.container {
  max-width: 700px;
  margin: auto;
}

.card {
  border-radius: 10px;
  padding: 10px;
  padding-top: 1px;
  margin-bottom: 10px;
}

.box {
  width: 40%;
  display: inline-block;
  box-sizing: border-box;;
}

.info {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.info-text {
  padding-bottom: 20px;
  margin-left: 30px;
}

.info-text p {
  color: #808080;
}

@media (max-width: 700px) {
  .info {
    display: block;
    text-align: center;
  }

} {

}
.hobby {
  background: #C1DFB6;
}

.work {
  background:lightblue;
}

.photoofme {
  border-radius: 10px;
  height: 250px;
  /* margin-bottom: 10px; */
  /* box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); */
}

.btn {
  border-radius: 10px;
  background: lightgray;
  padding: 5px 10px 5px 13px;
  color: black;
  text-decoration: none;
  font-family: inherit;
  border-width: 1px;
  border-color: black;
}
.btn:hover {
  text-decoration: underline;
  color: lightyellow;
}

.hobby li{
  padding: 3px;
}
.table {
  width: 100%;
}
.table td{
  text-align: center;
  padding: 5px;
}
.table tr{
  text-align: center;
  padding: 5px;
}

.form {
  background-color: lightyellow;
}
.form h3 {
  text-align: center;

}
.form-group label {
  display: block;
  font-size: 15px;
}

.form-group input,
.form-group textarea{
  width: 100%;
  box-sizing: border-box;
  border; none;
}

.form-row {
  margin-right: 10px;
  display: flex;
  margin-bottom: 10px;
}

.form-row .form-group {
  margin-right: 20px;
  width: 50%;
}

@media (max-width: 700px) {
  .form-row {
    display: block;
  }

  .form-row .form-group{
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.form-row .form-group: last-child {
  margin-right: 0px;
}
